{% if searchResult is defined and searchResult %}
    <div class="search-results">
        {% if films|length > 1 %}
            <span class="results">{{ searchResult }}</span> résultats correspondent à la recherche : 
            <span class="results">{{ searchItem }}</span> 
        {% else %}
            <span class="results">{{ searchResult }}</span> résultat correspond à la recherche : 
            <span class="results">{{ searchItem }}</span>
        {% endif %}
    </div>
{% endif %}

{% if films|length == 0 %}
    <div class="search-results">
        Aucun résultat ne correspond à votre recherche
    </div>      
{% endif %}

<ul>
    {% for film in films %}
        <li>
            <span>{{ film.title }}</span>
            <div class="content-actions">
                <a href="{{ path('edit_film', {id: film.id}) }}" class="edit">éditer</a>
                <form action="{{ path('delete_film', {id: film.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
                    <input type="submit" value="supprimer" class="submit">
                </form>
            </div>
        </li>
    {% endfor %}
</ul>