{% if film.imageFicheName is not empty or film.imageCardName is not empty %}
    <div class="remove-images">
        {% if film.imageCardName is not empty %}
            <span class="image-pres">Image de card ajoutée</span>
            <div>
                <span>{{ film.imageCardName }}</span>
                <form class="delete-image-card" data-id="{{ film.id }}" action="{{ path('remove_imageCard', {id: film.id}) }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ film.id) }}">
                    <input type="submit" value="supprimer" class="btn-cross">
                </form>
            </div>
        {% endif %}
        
        {% if film.imageFicheName is not empty %}
            <span class="image-pres">Image de fiche ajoutée</span>
            <div>
                <span>{{ film.imageFicheName }}</span>   
                <form class="delete-image-fiche" data-id="{{ film.id }}" action="{{ path('remove_imageFiche', {id: film.id}) }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ film.id) }}">
                    <input type="submit" value="supprimer" class="btn-cross">
                </form>             
            </div>
        {% endif %}
    </div>
{% endif %}