{% if imagesSlider %}
    <span class="currentImages">Images de slider ajoutées</span>
    {% if error %}
        <span class="error-imagesMax">{{ error }}</span>                
    {% endif %}
    <ul>
        {% for imageSlider in imagesSlider %}
            <li>
                {{ imageSlider.imageSliderName }}
                <form class="delete-image-slider" data-id="{{ imageSlider.id }}" action="{{ path('delete_imageSlider', {id: imageSlider.id}) }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imageSlider.id) }}">
                    <input type="submit" value="supprimer" class="btn-cross">
                </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}