// COLORS

$mainRed: #ED1D24;
$secondRed: #C31D10;
$thirdRed: #760C10;
$fourthRed: #994D4F;
$mainBlue: #162CA2;
$secondBlue: #67C7EB;
$mainGreen: #70964b;
$secondGreen: #47B364;
$gold: #D3AF37;
$silver: silver;
$bronze: #CD7F32;
$light: #ffffff;
$dark: #000000;



// RESPONSIVE

$min-md: 1024px;
$tablet: 991px;
$max-sm: 767px;
$min-sm: 450px;
$max-xs: 375px;
$min-xs: 320px;



// FONTS

@font-face {
    font-family: Bento;
    src: url('/build/fonts/BentonSans\ ExtraComp\ Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: Bento;
    src: url('/build/fonts/BentonSans\ ExtraComp\ Bold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: Bento;
    src: url('/build/fonts/BentonSans\ ExtraComp\ Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: Bento;
    src: url('/build/fonts/BentonSans\ ExtraComp\ Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: Bento;
    src: url('/build/fonts/BentonSans\ ExtraComp\ Book.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: Bento;
    src: url('/build/fonts/BentonSans\ ExtraComp\ Thin.otf') format('opentype');
    font-weight: 100;
}



// ANIMATIONS

.slide-up {
    animation: slide-up 0.5s ease-out forwards;

    @media all and (max-width: $min-sm) {
        animation: slide-left 0.5s ease-out forwards;
    }
}

@keyframes slide-up {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}

@keyframes slide-left {
    0% {transform: translateX(calc(100% + 10px));}
    100% {transform: translateX(0%);}
}



.slide-down {
    animation: slide-down 0.5s ease-out forwards;

    @media all and (max-width: $min-sm) {
        animation: slide-right 0.5s ease-out forwards;
    }
}

@keyframes slide-down {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0%);}
}

@keyframes slide-right {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}



.fade-up {
    animation: fade-up 0.3s ease-out forwards;
}

@keyframes fade-up {
    0% {transform: translateY(100px); opacity: 0; visibility: hidden;}
    100% {transform: translateY(0); opacity: 1; visibility: visible;}
}

.fade-left {
    animation: fade-left 0.4s ease-out forwards;
}

@keyframes fade-left {
    0% {transform: translateX(200px); opacity: 0; visibility: hidden;}
    100% {transform: translateX(0); opacity: 1; visibility: visible;}
}