{% extends "base.html.twig" %}

{% block body %}
    <h1>acteurs/actrices</h1>

    <section class="container list">
        <ul>
            {% include "components/_list-actors.html.twig" with {actors: actors} %}
        </ul>
    </section>
{% endblock %}