{% extends "base.html.twig" %}

{% block body %}
    <h1>box office</h1>

    <section class="container film-boxOffice">
        <ul>
            {% for film in films %}
                <li>
                    <div style="background-image: url('{{ asset('build/assets/images/films/fiches/' ~ film.imageFicheName ~ '') }}')">
                        <div class="film-rank">
                            <span>{{ loop.index }}</span>
                        </div>
                        <div class="film-action">
                            <span>{{ film.title }}</span>
                            <a href="{{ path('fiche_film', {id: film.id}) }}"><span>continuer</span></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}