{% extends "base.html.twig" %}

{% block body %}
    <h1>réalisateurs/réalisatrices</h1>

    <section class="container list">
        <ul>
            {% include "components/_list-directors.html.twig" with {directors: directors} %}
        </ul>
    </section>
{% endblock %}