{% extends "base.html.twig" %}

{% block body %}
    <div class="ficheFilm">
        <section class="film-slider">
            <div class="slider">
                {% for image in sliderImages %}
                    <img data-index="{{ loop.index }}" src="{{ asset('build/assets/images/films/slider/' ~ image.imageSliderName ~ '') }}" alt="">
                {% endfor %}
            </div>
            <div class="slider-nav">
                {% for image in sliderImages %}
                    <a data-index="{{ loop.index }}" href="#">btn nav</a>
                {% endfor %}
            </div>
            <span>{{ film.title }}</span>
        </section>
        <section class="ficheFilm__content">
            <div class="content-film">
                <img class="js-animate" data-anim="slide-down" src="{{ asset('build/assets/images/films/fiches/' ~ film.imageFicheName ~ '')|imagine_filter('thumbnail') }}" alt="">
                <div class="content-film__container js-animate" data-anim="slide-up">
                    <div class="content-film__container__details">
                        <span class="title">{{ film.title }}</span>
                        <span class="year">{{ film.year }}</span>
                        <span class="duration">{{ get_formatted_duration(film.duration) }}</span>
                        <span class="box-office">{{ get_formatted_box_office(film.boxOffice) }}</span>
                        <p class="summary">{{ film.summary }}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="film-actors list js-list-animate">
            <span class="section-title">les acteurs</span>
            <ul class="film-actors__list js-list-animate">
                {% include "components/_list-actors.html.twig" with {actors: film.movieActors, fiche_film: true} %}
            </ul>
        </section>
        <section class="film-directors list js-list-animate">
            <span class="section-title">les réalisateurs</span>
            <ul class="film-directors__list">
                {% include "components/_list-directors.html.twig" with {directors: film.movieDirectors, fiche_film: true} %}
            </ul>
        </section>
        {% if related_films is defined and related_films|length > 0 %}
            <section class="related-films list">
                <span class="section-title">{{ related_films|length > 1 ? 'fiche_film.related_title_many'|trans() : 'fiche_film.related_title_single'|trans() }}</span>
                <div class="related-films__list">
                    {% for related_film in related_films %}
                        <a href="{{ path('fiche_film', {id: related_film.id}) }}" class="related-films__list__item js-related-animate" data-anim="fade-left">
                            <img src="{{ asset('build/assets/images/films/cards/' ~ related_film.imageCardName ~ '')|imagine_filter('card') }}" alt="">
                            <span>{{ related_film.title }}</span>
                            <div class="list-details">
                                <span>{{ related_film.year }}</span>
                                <span>{{ get_formatted_duration(related_film.duration) }}</span>
                                <span>{{ get_formatted_box_office(related_film.boxOffice) }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}