{% extends "base.html.twig" %}

{% block body %}
    <section class="presentation container">
        <h1>marvel studios</h1>
        <p>
            Marvel Studios est une société de production cinématographique américaine en prises de vue réelles et en
            animation assurant les adaptations cinématographiques des productions de Marvel Entertainment, essentiellement
            issues des Marvel Comics.
        </p>
        <p>
            Depuis le rachat de Marvel Entertainment par la Walt Disney Company fin 2009, le studio est rattaché au Walt
            Disney Motion Pictures Group mais jouit de la même liberté artistique que Pixar1.
        </p>
        <p>
            Dans les années 1990 et 2000, les studios de Marvel étaient situés au 1600 Rosecrans Avenue à Manhattan Beach en
            Californie, au sein du complexe Manhattan Beach Studios géré par Raleigh Studios. Depuis le rachat par Disney,
            le siège social est celui de la Walt Disney Company dans les Walt Disney Studios de Burbank.
        </p>
    </section>


    <section class="js-paginate-anchor">
        {% include "components/preview.html.twig" %}
    </section>

    <section class="js-sneak-peek sneak-peek"></section>
{% endblock %}