{% if app.flashes('success') is defined %}
    {% for message in app.flashes('success') %}
        <span class="message-flash">{{ message }}</span>
    {% endfor %}
{% endif %}

{{ form_start(formTag) }}
    <div class="form-fields">
        {{ form_row(formTag.name) }}
    </div>
    <div class="form-buttons">
        <input type="submit" value="Valider" class="submit">
        <a href="{{ path('home_tags') }}" class="return">Retourner aux tags</a>
    </div>
{{ form_end(formTag) }}