{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>éditer le tag</h1>
        <div class="adminForm__content container">
            {{ include ("admin/tags/_formTag.html.twig", {formTag: formTag}) }}
        </div>
    </div>
{% endblock %}