{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>new tag</h1>
        <div class="adminForm__content container">
            {% if error %}
                <span>{{ error }}</span>
            {% endif %}
            
            {{ include ("admin/tags/_formTag.html.twig", {formTag: formTag}) }}
        </div>
    </div>
{% endblock %}