<section class="menu">
    <a href="" class="btn-close">
        <span></span>
        <span></span>
    </a>

    <div class="menu__content">
        <img src="{{ asset('build/assets/images/icons/shield.svg') }}" alt="cap's shield">

        <ul class="menu-list">
            <li>
                <a href="{{ path('home_page') }}">home</a>
            </li>
            <li>
                <a href="{{ path('actors_home') }}">acteurs</a>
            </li>
            <li>
                <a href="{{ path('directors_home') }}">réalisateurs</a>
            </li>
            <li>
                <a href="{{ path('home_box_office') }}">box-office</a>
            </li>
        </ul>
    </div>
</section>