{% extends "base.html.twig" %}

{% block body %}
<section class="landing">
    <div id="svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 778.5 172.55">
            <defs>
                <style>
                    .cls-1 {
                        fill: #fff;
                        stroke: #fff;
                        stroke-miterlimit: 10;
                    }
                </style>
            </defs>
            <title>marvel-logo</title>
            <path class="cls-1"
                d="M7.6,23.57h32l7.2,68H47l7.2-68H86V151.28H60.6V106c0-10.13.2-21.37.2-28.69h-.3c-.9,10.83-1.7,20.87-2.8,28.49l-6.2,45.45H38.6l-6.2-45.45c-1-7.62-1.5-13.94-2.8-28.09h-.3c.2,3.81.2,17.05.2,28.29v45.25H7.6Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M106.6,23.07H135l20.5,128.21H128.2l-2.6-23.78H113.9l-2.4,23.78H86Zm17.7,86.28c-1-10.13-2.2-22.77-3.1-31.1-.5-4.31-.9-8.43-1.2-12.44h-.3c-.3,4-.9,8.13-1.2,12.44-.9,8.43-2.1,20.87-3.3,31.1Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M158.2,23.57h28.7c18.4,0,33.5,12,33.5,42.64,0,16.25-4.3,27.39-10.7,33.11l12.6,52H195.8l-9.5-42.64h-1.8v42.64H158.2Zm28.6,65.21c3.6,0,6.7-3.81,6.7-22.27,0-17.46-3.1-19.46-6.9-19.46h-2.1V88.78Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M218.8,23.57h27.3l4.5,53.17c1,11.24,2.1,24.68,2.9,36.62h.3c.7-12,1.9-25.38,2.9-36.72l4.3-53h25.5L266.7,151.88H238.3Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1" d="M289.3,23.57h49.2V47h-22V72.63h15.7V94.4H316.5v34.31h22.4v22.57H289.4V23.57Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1" d="M344,23.57h27.2v105h21.2v22.57H344.1V23.57Z" transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M416.6,118.78l9.6-1.2c2.6,17.76,6.7,25.58,15.7,25.58,8.6,0,13.2-5.52,13.2-17.76,0-13.64-8.3-23.48-17.2-35-9.1-12-19.1-23.78-18.9-41.23,0-17,8.4-26.79,21.2-26.79,15.5,0,20.5,11.54,23.9,30.2l-9.8,1.5C451.5,37.31,447.8,31.8,440,31.8c-7.1,0-10.7,5.82-10.7,16.55,0,15,8.3,24.88,17,36,9.3,11.94,19.1,23,19.1,40.73,0,18.26-9.8,27.29-23.7,27.29C425.2,152.48,419.7,140,416.6,118.78Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1" d="M485.2,33.1H466.8V23.57h47.3V33.1H495.5V151.28H485.2Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M523.9,112.25V23.57H534v86.78c0,20.57.5,32.81,13.1,32.81s13.2-11.74,13.2-32.4V23.57h9.8v88.18c0,24.68-2.9,40.73-23.4,40.73S523.9,136,523.9,112.25Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M587.2,23.57h15.3c23.4,0,32,16.05,32,63.8,0,47.45-8.9,63.8-32,63.8H587.2ZM603.9,142c16.9,0,20.3-18.16,20.3-54.57,0-35.92-3.4-54.37-20.5-54.37h-6.2V142Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1" d="M649.6,23.57h10.3V151.28H649.6Z" transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M675.1,87.38c0-47,8.9-65,26.8-65,17.7,0,26.8,18.16,26.8,65s-9.1,65-26.8,65C684,152.48,675.1,134.33,675.1,87.38Zm43.1,0c0-36.22-3.4-55.38-16.3-55.38-12.7,0-16.5,19.16-16.5,55.38s3.8,55.38,16.5,55.38c12.9.1,16.3-19.06,16.3-55.38Z"
                transform="translate(-7.1 -1)" />
            <path class="cls-1"
                d="M736.3,118.78l9.6-1.2c2.6,17.76,6.7,25.58,15.7,25.58,8.6,0,13.2-5.52,13.2-17.76,0-13.64-8.3-23.48-17.2-35-9.1-12-19.1-23.78-18.9-41.23,0-17,8.4-26.79,21.2-26.79,15.5,0,20.5,11.54,23.9,30.2l-9.8,1.5c-2.8-16.75-6.5-22.27-14.3-22.27-7.1,0-10.7,5.82-10.7,16.55,0,15,8.3,24.88,17,36,9.3,11.94,19.1,23,19.1,40.73,0,18.26-9.8,27.29-23.7,27.29C744.9,152.48,739.4,140,736.3,118.78Z"
                transform="translate(-7.1 -1)" />
            <rect class="cls-1" x="400.4" y="0.5" width="377" height="10.03" />
            <rect class="cls-1" x="400.4" y="162.02" width="377" height="10.03" />
        </svg>
    </div>
    <a href="{{ path('home_page') }}" class="go-link"><span>{{ 'landing_page.button'|trans()|upper }}</span></a>
</section>
{% endblock %}