@import 'partials/variables';

.adminHome {
    h1 {
        margin-bottom: 20px;
    }

    .list-category {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        padding: 0 15px;

        @media all and (max-width: $min-sm) {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin-right: 10px;

            @media all and (max-width: $min-sm) {
                margin-right: 0;
                margin-bottom: 15px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            a {
                font-size: 28px;
                line-height: 30px;
                font-weight: 600;
                padding: 0 15px 15px;
                text-transform: uppercase;
                position: relative;
                display: inline-block;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    background-color: $light;
                    width: 0;
                    transition-duration: 0.2s;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.adminAction {
    padding-bottom: 30px;
    
    &__content {
        margin-top: 50px;

        .actions-home {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            .btn-links {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
    
                .btn-link {
                    padding: 8px 12px;
                    font-size: 24px; 
                    line-height: 28px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    color: $thirdRed;
                    background-color: $gold;

                    @media all and (max-width: $max-xs) {
                        width: 100%;
                        text-align: center;
                    }
    
                    &:first-of-type {
                        margin-right: 12px;

                        @media all and (max-width: $max-xs) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .search-form {
                display: flex;
                border: solid 2px $gold;
                margin-right: 12px;
                margin-bottom: 15px;

                @media all and (max-width: $max-sm) {
                    margin-right: 0;
                }

                @media all and (max-width: $min-xs) {
                    width: 100%;
                }

                input[type="text"] {
                    padding-left: 8px;
                    color: $dark;
                    width: 240px;
                    background-color: transparent;

                    @media all and (max-width: $min-xs) {
                        width: 100%;
                    }
                }

                .btn-submit {
                    background-color: $gold;
                    color: $thirdRed;
                    font-weight: 600;
                }

                input[type="text"], input[type="text"]::placeholder {
                    font-size: 24px;
                    line-height: 24px;
                    font-weight: 500;
                    color: $light;
                }
            }
        }

        .search-results {
            display: block;
            text-align: center;
            margin: 35px 0;
            font-size: 26px;
            line-height: 30px;
            font-weight: 500;

            .results {
                font-weight: 600;
                color: $gold;
            }
        }

        ul {
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            li {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                padding: 0 12px 10px;
                margin-bottom: 10px;
                border-bottom: solid 1px $light;

                @media all and (max-width: $max-xs) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                span {
                    font-size: 24px;
                    line-height: 26px;
                    font-weight: 400;
                    display: inline-block;

                    @media all and (max-width: $max-xs) {
                        font-size: 26px;
                        margin-bottom: 10px;
                    }
                }

                .content-actions {
                    display: flex;
                    align-items: flex-end;

                    a, .submit {
                        font-size: 26px;
                        line-height: 28px;
                        font-weight: 500;
                        padding: 5px 10px;
                        background-color: $gold;
                        color: $thirdRed;
                    }

                    a {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.adminForm {
    &__content {
        margin-top: 50px;
        margin-bottom: 30px;

        > span {
            font-size: 22px;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 30px;
            display: inline-block;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .form-fields {
                margin-bottom: 15px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                > div {
                    margin-bottom: 15px;

                    label, input {
                        font-size: 24px;
                        line-height: 26px;
                        font-weight: 400;
                    }

                    textarea {
                        font-size: 22px;
                        line-height: 24px;
                        font-weight: 300;
                    }

                    label {
                        margin-right: 10px;
                    }

                    input {
                        padding: 4px 6px;
                    }
                }
            }

            .form-buttons {
                .submit {
                    padding: 6px 10px;
                    background-color: $thirdRed;
                    color: $light;
                    font-size: 26px;
                    line-height: 28px;
                    font-weight: 400;
                    margin-right: 6px;
                }
            }
        }

        .mainForm {
            .form-fields {
                > div {
                    margin-right: 22px;
                    width: calc(100% / 3 - 44px / 3);

                    @media all and (max-width: $max-sm) {
                        width: calc(100% / 2 - 11px);

                        &:nth-child(even) {
                            margin-right: 0;
                        }
                    }

                    @media all and (max-width: $min-sm) {
                        width: 100%;
                        margin-right: 0;
                    }
    
                    @media all and (min-width: $max-sm + 1) {
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }

                    > div {
                        display: flex;
                        align-items: center;

                        > input, textarea, select {
                            flex-grow: 1;
                        }

                        > label {
                            min-width: 25%;
                        }
                    }

                    &.summary, &.tags, &.actors {
                        > div {
                            align-items: flex-start;
                        }
                    }

                    &.cardFile, &.ficheFile {
                        width: 100%;
                        position: relative;
                        margin-right: 0;

                        @media all and (max-width: $max-sm) {
                            width: calc(50% - 11px);
                        }

                        @media all and (max-width: $min-sm) {
                            width: 100%;
                        }

                        input[type="file"] {
                            width: 100%;
                        }

                        label {
                            min-width: auto;
                            margin-right: 30px;

                            @media all and (max-width: $max-sm) {
                                min-width: 25%;
                                margin-right: 10px;
                            }
                        }
                    }

                    &.cardFile {
                        margin-top: 30px;
                    }

                    &.summary {
                        width: 100%;
                        margin-right: 0;
                        margin-top: 30px;

                        > div {
                            @media all and (max-width: $min-sm) {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                            }
                        }

                        label {
                            min-width: auto;

                            @media all and (max-width: $min-sm) {
                                margin-bottom: 8px;
                            }
                        }

                        textarea {
                            min-height: 200px;

                            @media all and (max-width: $min-sm) {
                                font-size: 20px;
                                width: 100%;
                            }
                        }
                    }
                }  
            }
        }

        .error-imagesMax, .fileName {
            font-size: 22px;
            line-height: 22px;
            margin: 15px 0;
            display: inline-block;
        }

        .images-remove {
            display: flex;
            align-items: center;
            margin-top: 20px;

            form {
                &:first-child {
                    margin-right: 12px; 
                }

                .btn-remove {
                    background-color: $thirdRed;
                    padding: 6px 12px;
                    color: $light;
                    font-size: 20px;
                    line-height: 22px;
                    font-weight: 500;
                    display: inline-block;
                }
            }
        }

        .message-flash {
            font-size: 22px;
            line-height: 22px;
            font-weight: 500;
            padding: 15px 30px;
            background-color: $mainGreen;
            margin-bottom: 32px;
            border: solid 3px $light;
            border-radius: 10px;
            display: inline-block;
        }
    }
}

.sliderForm, .imagesForm {
    margin-top: 60px;
    padding-top: 50px;
    border-top: solid 1px $light;

    .addImage {
        font-size: 30px;
        line-height: 38px;
        font-weight: 600;
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
    }

    .currentImages {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        text-decoration: underline;
        display: block;
        text-align: left;
        margin-top: 15px;
    }

    .error-imagesMax {
        margin-bottom: 0;
    }

    ul {
        margin-top: 12px;

        li {
            font-size: 24px;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 15px;
            padding-left: 20px;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 8px;
                height: 1px;
                background-color: $light;
            }
        }
    }

    .form-fields {
        margin-top: 15px;

        .sliderFile {
            margin-bottom: 24px;
            
            > div {
                display: flex;
                align-items: center;
            }
        }
    }

    .remove-images {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        .image-pres {
            font-size: 24px;
            line-height: 28px;
            text-decoration: underline;
            font-weight: 600;
            display: inline-block;
            margin-bottom: 10px;
        }

        div {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-size: 24px;
                line-height: 24px;
                font-weight: 500;
            }
        }
    }

    .js-film {
        form {
            > div {
                margin-bottom: 24px;

                label, span {
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 500;
                    display: inline-block;
                }

                label {
                    margin-right: 10px;
                }

                > div {
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
    }

    .js-slider {
        form {
            .image-choice {
                margin-bottom: 24px;

                label, span {
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 500;
                    display: inline-block;
                }
            }
        }
    }

    .js-film, .js-slider {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transform-origin: center;
        transform: scale(0, 0);
        z-index: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.2s;

        &::after {
            content: "";
            position: absolute;
            height: 200vw;
            width: 200vw;
            border-radius: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba($color: $light, $alpha: 0.9);
            z-index: 1;

            @media all and (max-width: $min-sm) {
                height: 150vh;
                width: 150vh;
            }
        }

        &.pop-up {
            transform: scale(1, 1);
        }

        form {
            margin: auto;
            display: flex;
            flex-direction: column;
            padding: 35px 25px;
            border-radius: 12px;
            border: solid 4px $gold;
            position: relative;
            background-color: $mainRed;
            z-index: 2;
            max-width: 550px;
            width: auto;

            @media all and (max-width: $max-sm) {
                max-width: calc(100% - 20px);
            }

            > span {
                display: inline-block;
                font-size: 24px;
                line-height: 28px;
                font-weight: 500;
                margin-bottom: 12px;
                text-decoration: underline;
            }
        }

        .btn-cross {
            position: absolute;
            margin: 0;
            top: 10px;
            right: 10px;
        }
    }
}


// SELECT2

.select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
    border: none !important;
    outline: none !important;
}

.select2-container--open .select2-dropdown--below {
    border: solid 1px $light;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $mainRed !important;
    color: $light;
}

.select2-results__option[aria-selected] {
    color: $mainRed;
    font-size: 20px;
    font-weight: 500;
}

.select2-dropdown {
    border-radius: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0 !important;
    border-color: $mainRed !important;
    background-color: transparent !important;
    color: $mainRed;
    font-weight: 500;

    span {
        font-size: 18px;
        line-height: 20px;
        color: inherit !important;
        font-weight: inherit;
    }
}

@media all and (max-width: $max-xs) {
    .select2.select2-container.select2-container--default {
        width: 100% !important;
    }
}


// JFILESTYLE

.jfilestyle.jfilestyle-corner.jfilestyle-theme-default {
    position: relative;
    display: flex;
    align-items: center;

    @media all and (max-width: $max-sm) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        span {
            margin-left: 0;
            margin-top: 6px;
        }
    }

    input {
        background-color: $light;
        color: $dark !important;
        cursor: initial;
        height: 28px;
        font-size: 22px;
        line-height: 22px;
        font-weight: 400;
        padding-left: 6px;
        display: inline-block;
    }

    @media all and (max-width: $min-xs) {
        input[type="text"] {
            width: calc(100% - 12px) !important;
        }
    }
}

.focus-jfilestyle {
    outline: none !important;
    margin-left: 8px;

    span {
        cursor: pointer;
    }
}