@import 'partials/variables';

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 160px);
    font-family: Bento;
    color: $light;   
    background-color: $mainRed;
    padding-top: 160px;

    @media all and (max-width: $max-xs) {
        min-height: calc(100vh - 100px);     
        padding-top: 100px;
    }

    &.no-header {
        padding-top: 0;
        min-height: 100vh;

        header {
            display: none;
        }
    }

    &.page-film {
        padding-top: 0;
        min-height: 100vh;

        header {
            background-color: rgba($color: $thirdRed, $alpha: 0.9);
        }
    }
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button {
    font-family: 'Bento';
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}

h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}

.return {
    padding: 6px 12px;
    font-size: 26px;
    line-height: 28px;
    display: inline-block;
    background-color: $thirdRed;
}

.btn-submit {
    padding: 8px 10px;
    background-color: $thirdRed;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    color: $light;
    text-transform: uppercase;
}

.btn-cross {
    margin-left: 8px;
    margin-top: 4px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    text-indent: -9999px;
    display: inline-block;
    background-image: url('../images/icons/white-cross.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}