{% extends "base.html.twig" %}

{% block body %}
    <div class="adminHome">
        <h1>Toutes les catégories</h1>
        <ul class="list-category">
            <li class="list-category__item"><a href="{{ path('home_tags') }}">les tags</a></li>
            <li class="list-category__item"><a href="{{ path('home_films') }}">les films</a></li>
            <li class="list-category__item"><a href="{{ path('home_actors') }}">les acteurs</a></li>
            <li class="list-category__item"><a href="{{ path('home_directors') }}">les réalisateurs</a></li>
        </ul>
    </div>
{% endblock %}