{% if searchResult is defined and searchResult %}
    <div class="search-results">
        {% if directors|length > 1 %}
            <span class="results">{{ searchResult }}</span> résultats correspondent à la recherche : 
            <span class="results">{{ searchItem }}</span>            
        {% else %}
            <span class="results">{{ searchResult }}</span> résultat correspond à la recherche : 
            <span class="results">{{ searchItem }}</span>
        {% endif %}
    </div>
{% endif %}

{% if directors|length == 0 %}
    <div class="search-results">
        Aucun résultat ne correspond à votre recherche
    </div>      
{% endif %}

<ul>
    {% for director in directors %}
        <li>
            <span>{{ director.name }}</span>
            <div class="content-actions">
                <a href="{{ path('edit_director', {id: director.id}) }}" class="edit">éditer</a>
                <form action="{{ path('delete_director', {id: director.id}) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ director.id) }}">
                    <input type="submit" value="supprimer" class="submit">
                </form>
            </div>
        </li>
    {% endfor %}
</ul>