@import '../partials/variables';

.js-paginate.anim-fade-out {
    .border-blockFilm {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }        
}

.border-blockFilm {
    border: solid 8px $thirdRed; 
    border-radius: 10px;
    width: calc(100% / 3 - 50px / 3 - 16px);
    height: 530px;
    margin-bottom: 25px;
    margin-right: 25px;
    transform-origin: center;
    transition-duration: 0.3s;

    @media all and (min-width: $max-sm + 1) {
        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @media all and (max-width: $max-sm) {
        width: calc(100% / 2 - 25px / 2 - 16px);         
    }

    @media all and (min-width: $min-sm + 1) and (max-width: $max-sm) {
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media all and (max-width: $min-sm) {
        width: calc(100% - 16px);   
        margin-right: 0;
    }

    @media all and (max-width: $min-xs) {
        height: calc(100vh - 150px);
    }
}

.blockFilm {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 0.3s;

    &:hover {
        .blockFilm__content {
            top: -70px;
        }
    }

    &__content {
        position: absolute;
        background-color: rgba($color: $dark, $alpha: 0.8);
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
        height: calc(100% + 60px);
        padding: 10px;
        top: calc(100% - 78px);
        left: 0px;
        transition-duration: 0.2s;

        > * {
            text-align: center;
            text-transform: uppercase;
        }

        .arrow-up {
            height: 60px;
            position: relative;

            img {
                width: 36px;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            padding-top: 35px;
            
            .film-title {
                font-size: 44px;
                line-height: 46px;
                font-weight: 900;
            }

            .film-year {
                font-size: 26px;
                line-height: 28px;
                font-weight: 600;
            }

            .film-year {
                margin-top: 12px;
            }
        }

        a {
            position: relative;
            z-index: 2;
            align-self: center;
            padding: 10px 15px;
            margin-bottom: 35px;
            font-size: 26px;
            line-height: 28px;
            font-weight: 600;
            border: solid 4px $light;
            transition-duration: 0.3s;

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                height: 100%;
                width: 0;
                top: 0;
                left: 0;
                background-color: $light;
                transition-duration: 0.3s;
            }

            &:hover {
                color: $thirdRed;

                &::after {
                    width: 100%;
                }
            }
        }
    }
}