@import '../partials/variables';

.js-sneak-peek {
    transform: translateY(100%);
    opacity: 0;
    transition-duration: 0.5s;

    &.anim-fade-in {
        transform: translateY(0);
        opacity: 1;
    }
}

.sneak-peek {
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 115px);
    width: calc(100vw - 40px);
    padding: 20px;

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        background-color: $thirdRed;
        overflow: hidden;
        
        @media all and (max-width: $tablet) {
            flex-direction: column;
        }

        &__image {
            width: 50%;
            position: relative;
            z-index: 0;

            @media all and (max-width: $tablet) {
                height: calc(68% - 30px);
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center top;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;

                @media all and (min-width: $tablet + 1) {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 4px;
                }
            }
        }

        &__details {
            display: flex;
            padding: 15px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;
            z-index: 2;

            @media all and (min-width: $tablet + 1) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                width: 50%;
                border-top-right-radius: 4px;
                border-bottom-left-radius: 0;
            }

            @media all and (max-width: $tablet) {
                height: 32%;
            }

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition-duration: 0.3s;
                
                @media all and (max-width: $tablet) {
                    width: 50%;
                }
                
                @media all and (max-width: $min-sm) {
                    width: 100%;
                }
            }

            .content-text {
                position: absolute;
                z-index: 10;
                bottom: 0;
                right: 0;
                flex-direction: row;
                align-items: center;
                width: calc(100% - 30px);
                transform: translateX(100%);
                height: calc(100vh - 160px);
                padding: 30px 15px 15px;
                font-size: 22px;
                line-height: 26px;
                font-weight: 500;
                background-color: $fourthRed;

                @media all and (min-width: $min-sm + 1) {
                    height: calc(100% - 45px);
                }

                @media all and (max-width: $min-sm) {
                    transform: translateY(100%);
                }

                &.revealed {
                    transform: translateX(0);

                    @media all and (max-width: $min-sm) {
                        transform: translateY(0);
                    }
                }

                p {
                    overflow-y: scroll;
                    margin: 0;
                    max-height: 100%;
                    width: 100%;
                }

                .btn-hide-summary {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    height: 12px;
                    width: 15px;
                    transform: rotateZ(90deg);
                    background-image: url('../../images/icons/arrow-up.svg');
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    text-indent: -9999px;
                    overflow: hidden;
                    display: block;

                    @media all and (max-width: $min-sm) {
                        transform: rotateZ(180deg);
                    }
                }
            }

            .list-buttons-details {
                position: absolute;
                top: 12px;
                right: 12px;
                display: flex;
                flex-direction: column;
                width: auto;

                a {
                    border-radius: 100%;
                    background-color: $fourthRed;
                    height: 32px;
                    width: 32px;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 17px;
                        width: auto;
                    }

                    &:first-child {
                        @media all and (min-width: $min-sm + 1) {
                            display: none;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .btn-list {
            @media all and (min-width: $tablet + 1) {
                align-items: stretch;
            }

            @media all and (max-width: $min-sm) {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                background-color: $fourthRed;
                transform: translateY(100%);
            }

            &.revealed {
                transform: translateY(0);
            }
            
            &__child {
                text-align: center;
                padding: 8px 12px;
                margin-bottom: 15px;
                position: relative;
                border: solid 3px $light;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 22px;
                font-weight: 600;
                position: relative;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 0;
                    background-color: $light;
                    transition-duration: 0.3s;
                }

                &:hover {
                    &::after {
                        height: 100%;
                    }

                    span {
                        color: $thirdRed;
                    }
                }

                span {
                    position: relative;
                    z-index: 2;
                    transition-duration: 0.3s;
                }
            }

            a:nth-child(2) {
                margin-bottom: 0;
            }

            .btn-hide-actions {
                position: absolute;
                top: 10px;
                left: 15px;
                height: 12px;
                width: 15px;
                transform: rotateZ(-180deg);
                background-image: url('../../images/icons/arrow-up.svg');
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center;
                text-indent: -9999px;
                overflow: hidden;
                display: block;

                @media all and (min-width: $min-sm + 1) {
                    display: none;
                }
            }
        }

        .container-content {
            @media all and (min-width: $tablet + 1) {
                margin-bottom: 25px;
            }

            @media all and (max-width: $min-sm) {
                align-items: flex-start;
            }

            * {
                text-align: center;
                margin-top: 7px;

                @media all and (max-width: $min-xs) {
                    margin-top: 5px;
                }
                
                &:first-child {
                    margin-top: 0;
                }
            }

            .title {
                font-size: 32px;
                line-height: 36px;
                font-weight: 700;
                padding: 0 35px;

                @media all and (max-width: $min-sm) {
                    padding-left: 0;
                    text-align: left;
                }

                @media all and (max-width: $min-xs) {
                    font-size: 26px;
                    line-height: 30px;
                }
            }

            div {
                font-size: 24px;
                font-weight: 400;
            }

            span {
                font-size: 26px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}