@import '../partials/variables';

.films {
    padding-top: 80px;
    padding-bottom: 55px;
    background: $gold;
    clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0 100%);

    &__list {
        display: flex;
        flex-wrap: wrap;
        perspective: 1000px;
    }
}