@import '../partials/variables';

header {
    position: fixed;
    overflow: hidden;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.3s;

    &.shadow {
        background-color: rgba($color: $thirdRed, $alpha: 0.9);
    }

    .logo-header {
        display: block;
        height: 100%;
        width: 160px;
        text-indent: -9999px;
        background-size: auto 100%;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url('../../images/logos/marvel-logo.svg');
    }

    .btn-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 0;
            background-color: $light;
            top: 0;
            right: -10px;
            transition-duration: 0.1s;
        }

        span {
            background-color: $light;
            height: 2px;
            transition-duration: 0.2s;
            width: 100%;
            
            &:nth-child(2) {
                margin: 6px 0;
                width: 80%;
            }

            &:last-child {
                width: 60%;
            }
        }

        &:hover {
            span {
                width: 100%;
            }
        }

        &.open {
        }
    }
}