@import "../partials/variables.scss";

section.list {
    margin-top: 30px;
    padding: 55px 10px 35px;

    .section-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: $light;
        display: block;
        text-align: center;
        margin-bottom: 22px;
        text-transform: uppercase;
    }

    > ul {
        display: flex;
        flex-wrap: wrap;
        overflow-y: hidden;
        width: 100%;
        max-width: $min-md;
        margin: 0 auto;

        li {
            border: solid 2px $thirdRed;
            margin-right: 20px;
            margin-bottom: 20px;
            
            &.js-small-animate {
                transform: translateY(100px);
                opacity: 0;
                visibility: hidden;
            }

            @media all and (min-width: $max-sm + 1) {
                width: calc(100% / 4 - 60px / 4 - 4px);

                &:nth-child(4n) {
                    margin-right: 0;
                }
            }

            @media all and (min-width: $min-sm + 1) and (max-width: $max-sm) {
                width: calc(100% / 3 - 40px / 3 - 4px);

                &:nth-child(3) {
                    margin-right: 0;
                }
            }

            @media all and (min-width: $max-xs + 1) and (max-width: $min-sm) {
                width: calc(100% / 2 - 14px);

                &:nth-child(even) {
                    margin-right: 0;
                }
            }

            @media all and (max-width: $max-xs) {
                width: calc(100% - 4px);
                margin-right: 0;
            }

            a {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            img {
                width: 100%;
                object-fit: cover;
                object-position: center top;
                
                @media all and (min-width: $min-md + 1) {
                    height: calc((1024px / 4 - 60px / 4) + 65px);
                }
                
                @media all and (min-width: $max-sm + 1) and (max-width: $min-md) {
                    height: calc(((100vw - 20px) / 4 - 60px / 4) + 65px);
                }
    
                @media all and (min-width: $min-sm + 1) and (max-width: $max-sm) {
                    height: calc(((100vw - 20px) / 3 - 40px / 3) + 65px);
                }
    
                @media all and (min-width: $max-xs + 1) and (max-width: $min-sm) {
                    height: calc(((100vw - 20px) / 2 - 10px) + 65px);
                }
    
                @media all and (max-width: $max-xs) {
                    height: calc(100vw - 20px + 65px);
                }
            }

            div {
                padding: 8px;
                text-align: center;
                background-color: $thirdRed;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;

                span {
                    display: block;
                    text-align: left;
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 500;

                    @media all and (max-width: $min-sm) {
                        font-size: 24px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}