@import '../partials/variables';

.menu {
    position: fixed;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background-color: $mainBlue;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-delay: 0.2s;

    &::before {
        content: "";
        position: fixed;
        height: 0;
        width: 0;
        background-color: $mainBlue;
        top: -50%;
        right: -50%;
        transition-duration: 0.5s;
        border-radius: 100%;
        transition-delay: 0.3s;
    }

    > * {
        opacity: 0;
        visibility: hidden;
        transition-duration: 0.2s;
        transition-delay: 0s;
    }

    &.opened {
        height: 100vh;
        width: 100vw;
        transition-delay: 0.1s;

        &::before {
            height: 200vh;
            width: 200vw;
            transition-delay: 0s;
        }

        > * {
            opacity: 1;
            visibility: visible;
            transition-delay: 0.4s;
        }
    }

    &__content {
        transform: translateX(-200px);
        display: flex;
        align-items: center;

        @media all and (max-width: $max-sm) {
            transform: translateX(0px)
        }

        @media all and (max-width: $max-xs) {
            flex-direction: column-reverse;
            align-self: center;
            transform: translateY(50px);
        }

        img {
            height: 180px;
            width: 180px;

            @media all and (max-width: $max-xs) {
                height: 160px;
                width: 160px;
            }
        }

        .menu-list {
            padding-left: 30px;

            @media all and (max-width: $max-xs) {
                margin-bottom: 30px;
                padding-left: 0;
            }

            li {
                margin-bottom: 18px;

                @media all and (max-width: $max-xs) {
                    text-align: center;
                }
    
                &:last-child {
                    margin-bottom: 0;
                }
    
                a {
                    font-size: 22px;
                    line-height: 26px;
                    font-weight: 500;
                    position: relative;
                    text-transform: uppercase;
                    padding: 10px 30px 10px 10px;

                    @media all and (max-width: $max-xs) {
                        padding: 10px 19px;
                        text-align: center;
                    }

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        background-color: $mainGreen;
                        transition-duration: 0.2s;
                        z-index: -1;
                    }

                    &::before {
                        width: 2px;
                        height: 0;
                        bottom: 0;
                        left: 0;
                        transition-delay: 0.2s;
                    }

                    &::after {
                        height: 100%;
                        width: 0;
                        top: 0;
                        left: 0;
                        transition-delay: 0s;
                    }

                    &:hover {
                        &::before {
                            height: 100%;
                            transition-delay: 0s;
                        }

                        &::after {
                            width: 100%;
                            transition-delay: 0.2s;
                        }
                    }
                }
            }
        }
    }

    .btn-close {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            display: block;
            height: 2px;
            width: 40px;
            background-color: $light;
            transform-origin: center;

            &:first-child {
                transform: rotateZ(-45deg);
            }

            &:last-child {
                transform: translateY(-100%) rotateZ(45deg);
            }
        }

        &:hover {
            span {
                animation: extend 0.3s linear forwards;
            }
        }
    }
}



// ANIMATIONS

@keyframes extend {
    0% { width: 40px; }
    50% { width: 52px; }
    100% { width: 40px; }
}