{% if app.flashes('success') is defined %}
    {% for message in app.flashes('success') %}
        <span class="message-flash">{{ message }}</span>
    {% endfor %}
{% endif %}

<div class="mainForm">
    {{ form_start(formDirector) }}
        <div class="form-fields">
            <div class="name">{{ form_row(formDirector.name) }}</div>
            <div class="ficheFile">
                {% if director.imageFileName is not empty %}
                    <span class="fileName">image : {{ director.imageFileName }}</span>
                {% endif %}
                {{ form_row(formDirector.imageFile) }}
            </div>
        </div>
        <div class="form-buttons">
            <input type="submit" value="Valider" class="submit">
            <a href="{{ path('home_directors') }}" class="return">Retourner aux réalisateurs</a>
        </div>
    {{ form_end(formDirector) }}
</div>