{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>éditer le réalisateur</h1>
        <div class="adminForm__content container">
            {{ include ("admin/directors/_formDirector.html.twig", {formDirector: formDirector}) }}
        </div>
    </div>
{% endblock %}