{% extends "base.html.twig" %}

{% block body %}
    <div class="adminAction">
        <h1>Tous les réalisateurs</h1>
        <div class="adminAction__content container">
            <div class="actions-home">
                <div class="btn-links">
                    <a href="{{ path('new_director') }}" class="btn-link">ajouter un réalisateur</a>
                    <a href="{{ path('admin_home') }}" class="btn-link">retourner aux choix des catégories</a>
                </div>
                
                <form class="search-form" action="" method="get" data-type="director">
                    <input type="hidden" name="_token" value="{{ csrf_token('search_item') }}">
                    <input type="text" name="recherche" placeholder="Rechercher">
                    <input type="submit" value="valider" class="btn-submit">
                </form>
            </div>
            <div class="js-search">
                {% include "admin/directors/Ajax/_directorSearchResult.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}