{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>new director</h1>
        <div class="adminForm__content container">
            {% if error %}
                <span>{{ error }}</span>
            {% endif %}
            
            {{ include ("admin/directors/_formDirector.html.twig", {formDirector: formDirector}) }}
        </div>
    </div>
{% endblock %}