@import '../partials/variables.scss';

.film-boxOffice {
    margin: 60px auto 40px;
    width: calc(100% - 40px);

    ul {
        display: flex;
        justify-content: space-between;
        height: 700px;
        width: 100%;

        @media all and (max-width: $max-sm) {
            flex-direction: column;
            height: auto;
        }

        li {
            height: calc(100vh - 125px);
            max-height: 530px;
            width: 100%;
            margin-bottom: 20px;

            @media all and (min-width: $max-sm + 1) {
                width: calc(100% / 3 - 60px / 3);
                margin-bottom: 0;

                &:first-child {
                    order: 2;
                    align-self: flex-start;
                }

                &:nth-child(2) {
                    order: 1;
                    align-self: center;
                }

                &:nth-child(3) {
                    order: 3;
                    align-self: flex-end;
                }
            }

            > div {
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;
                border-radius: 4px;
                border: solid 2px $gold;
                position: relative;
                overflow: hidden;
                transition-duration: 0.3s;

                .film-rank {
                    flex-grow: 1;
                    background-color: rgba($color: $dark, $alpha: 0.7);
                    perspective: 1000px;
                    transform: translateY(calc(100% + 72px));
                    transition-duration: 0.3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    span {
                        font-size: 30px;
                        line-height: 30px;
                        font-weight: 700;
                        color: $light;
                        position: relative;
                        z-index: 1;

                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -2;
                            height: 60px;
                            width: 60px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 100%;
                        }
                    }
                }

                .film-action {
                    display: flex;
                    flex-direction: column;
                    border-top: solid 2px $gold;
                    background-color: $thirdRed;
                    position: relative;
                    z-index: 2;
                    padding: 0 12px 18px;
                    transform: translateY(72px);
                    transition-duration: 0.3s;
                    
                    > span {
                        text-transform: uppercase;
                        font-size: 34px;
                        line-height: 38px;
                        font-weight: 700;
                        display: block;
                        padding: 18px 0 0;
                        margin-bottom: 18px;
                        text-align: center;
                    }

                    a {
                        border: solid 4px $light;
                        font-size: 28px;
                        line-height: 30px;
                        font-weight: 600;
                        text-align: center;
                        padding: 8px 12px;
                        display: inline-block;
                        text-transform: uppercase;
                        align-self: center;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            background-color: $light;
                            transition-duration: 0.2s;
                        }

                        span {
                            position: relative;
                            z-index: 2;
                            transition-duration: 0.2s;
                        }

                        &:hover {
                            &::before {
                                width: 100%;
                            }

                            span {
                                color: $thirdRed;
                            }
                        }
                    }
                }
                
                &:hover {
                    background-position: center bottom;

                    .film-action, .film-rank {
                        transform: translateY(0);
                    }
                }
            }

            &:first-child {
                .film-rank span::before {
                    background-color: $gold;
                }
            }

            &:nth-child(2) {
                .film-rank span::before {
                    background-color: $silver;
                }
            }

            &:last-child {
                margin-bottom: 0;

                .film-rank span::before {
                    background-color: $bronze;
                }
            }
        }
    }
}