@import '../partials/variables.scss';

.ficheFilm {
    display: flex;
    flex-direction: column;

    &__content {
        max-width: $min-md;
        margin: 40px auto;
        width: calc(100% - 30px);

        .content-film {
            display: flex;
            position: relative;
            overflow: hidden;
            height: calc(100vh - 125px);

            @media all and (max-width: $min-sm) {
                flex-direction: column;
                height: auto;
            }

            img {
                height: calc(100% - 10px);
                width: 380px;
                object-fit: cover;
                object-position: center top;
                border: solid 5px $thirdRed;
                position: relative;
                z-index: 0;
                transform: translateY(100%);

                @media all and (max-width: $min-sm) {
                    height: calc(100vh - 125px);
                    width: 100%;
                    transform: translateX(-100%);
                }
            }

            &__container {
                position: absolute;
                z-index: 2;
                padding: 20px 0;
                width: calc(100% - 350px);
                height: calc(100% - 40px);
                top: 0;
                right: 0;
                transform: translateY(-100%);

                @media all and (max-width: $min-sm) {
                    height: calc(100vh - 125px);
                    width: calc(100% - 20px);
                    align-self: center;
                    position: relative;
                    margin-top: -54px;
                    transform: translateX(calc(100% + 10px));
                }

                &__details {
                    height: calc(100% - 40px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $thirdRed;
                    padding: 20px;

                    * {
                        text-align: center;
                        margin-bottom: 10px;

                        &.summary {
                            margin-top: 20px;
                            font-size: 22px;
                            line-height: 28px;
                            font-weight: 400;
                            max-height: 44%;
                            overflow-y: scroll;

                            @media all and (max-width: $min-sm) {
                                margin-top: 18px;
                            }
                        }
                    }

                    span {
                        font-size: 25px;
                        line-height: 28px;
                        font-weight: 600;
                        text-transform: uppercase;

                        &.title {
                            font-size: 35px;
                            line-height: 40px;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }

    .film-actors {

    }

    .film-directors {

    }

    .related-films {
        padding-bottom: 15px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: $min-md;
            margin: 0 auto;
            overflow: hidden;

            &__item {
                height: calc(100vh - 129px);
                width: 100%;
                max-height: 430px;
                border: solid 3px $gold;
                border-radius: 5px;
                position: relative;
                margin-bottom: 20px;
                overflow: hidden;
                transform: translateX(200px); 
                opacity: 0; 
                visibility: hidden;

                img {
                    position: absolute;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center top;
                    top: 0;
                    left: 0;
                }

                .list-details {
                    position: absolute;
                    z-index: 2;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    span {
                        flex-grow: 1;
                        font-size: 26px;
                        line-height: 28px;
                        font-weight: 500;
                        background-color: $thirdRed;
                        box-shadow: 4px 16px 10px 8px $dark;
                        padding: 12px 0;
                        text-align: center;

                        @media all and (max-width: $min-sm) {
                            &:nth-child(3) {
                                width: 100%;
                                box-shadow: 4px 4px 10px 8px $dark;
                            }
                        }
                    }
                }

                > span {
                    text-transform: uppercase;
                    font-size: 40px;
                    line-height: 46px;
                    font-weight: 700;
                    position: absolute;
                    z-index: 2;
                    top: 20px;
                    left: 0;
                    padding: 16px 10px;
                    background-color: rgba($color: $thirdRed, $alpha: 0.8);

                    @media all and (max-width: $min-sm) {
                        font-size: 30px;
                        line-height: 34px;
                    }
                }
            }
        }
    }
}

.film-slider {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .slider {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        transition-duration: 0.5s;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    .slider-nav {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        a {
            display: inline-block;
            text-indent: -9999px;
            height: 10px;
            width: 10px;
            border-radius: 100%;
            border: solid 4px $thirdRed;
            background-color: $thirdRed;
            margin-right: 12px;
            position: relative;
            transition-duration: 0.3s;

            &:last-child {
                margin-right: 0;
            }

            &.active, &:hover {
                background-color: $light;
            }
        }
    }

    > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        width: 100%;
        max-width: 265px;
        font-size: 34px;
        line-height: 38px;
        font-weight: 900;
        color: $light;
        background-color: $thirdRed;
        text-align: center;
        text-transform: uppercase;
    }
}