@import '../partials/variables';

.presentation {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 14px 0 0;
        font-size: 22px;
        line-height: 28px;
        text-align: center;

        &:first-child {
            margin-top: 30px;
        }
    }
}

.js-paginate-anchor {
    opacity: 1;
    transition-duration: 0.3s;
}