@import '../partials/variables.scss';

.landing {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    position: relative;
    background-color: $mainBlue;

    #svg {
        height: 100%;
        width: 60vw;
        display: flex;
        align-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            width: 100%;

            path, rect {
                fill: none;
                stroke-width: 4;
                stroke-dasharray: 840;
                stroke-dashoffset: 840;
                animation: writeLogo 8s linear infinite;
            }
        }

        @media all and (max-width: $min-sm) {
            svg {
                display: none;
            }

            width: 90vw;
            background-image: url("../../images/logos/marvel-logo-mobile.svg");
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .go-link {
        position: relative;
        align-self: center;
        font-weight: 600;
        font-size: 26px;
        line-height: 26px;
        position: relative;
        display: flex;
        z-index: 1;

        &::before, &::after, span::before, span::after {
            content: "";
            position: absolute;
            background-color: $mainGreen;
            transition-duration: 0.2s;
        }

        &::before {
            height: 4px;
            width: 0;
            top: 0;
            right: 0;
            transition-delay: 0.8s;
        }

        &::after {
            height: 0;
            width: 4px;
            top: 0;
            left: 0;
            transition-delay: 0.6s;
        }

        span {
            padding: 12px 16px;
            border: solid 4px $light;
            transition-duration: 0.6s;

            &::before {
                height: 4px;
                width: 0;
                bottom: 0;
                left: 0;
                transition-delay: 0.4s;
            }
    
            &::after {
                height: 0;
                width: 4px;
                bottom: 0;
                right: 0;
                transition-delay: 0.2s;
            }
        }

        &:hover {
            &::before {
                width: 100%;
                transition-delay: 0s;
            }
    
            &::after {
                height: 100%;
                transition-delay: 0.2s;
            }

            span {
                color: $mainGreen;
                transition-delay: 0.7s;

                &::before {
                    width: 100%;
                    transition-delay: 0.4s;
                }
        
                &::after {
                    height: 100%;
                    transition-delay: 0.6s;
                }
            }
        }
    }
}



// ANIMATIONS

@keyframes writeLogo {
    0% { 
        stroke-dashoffset: 840;
    }

    6% {
        stroke-dashoffset: 840;
    }

    53% { 
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 840;
    }
}