@import '../partials/variables';

.login {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 500px;
    width: 100%;

    &__error {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 26px;
        font-weight: 500;
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 40px;

        > div {
            position: relative;
            margin-top: 16px;
            padding-top: 20px;
        }

        label {
            font-size: 26px;
            line-height: 26px;
            font-weight: 500;
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 0;
            cursor: pointer;
            transition-duration: 0.2s;
        }

        input {
            background: transparent;
            border-bottom: solid 2px $gold;
            z-index: 1;
            color: $light;

            &:focus, &:valid {
                & + label {
                    bottom: calc(100% - 20px);
                    font-size: 20px;
                    line-height: 20px;
                    font-style: italic;
                }
            }
        }

        input, button {
            padding: 10px;
            font-size: 26px;
            line-height: 30px;
            font-weight: 500;
            width: calc(100% - 20px);
            
            &:first-child {
                margin-top: 0;
            }
        }

        .submit {
            margin-top: 16px;
            width: 100%;
            font-weight: 600;
            font-size: 21px;
            color: $gold;
            background-color: transparent;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            padding: 0;

            &::before, &::after {
                content: "";
                position: absolute;
                background-color: $secondBlue;
                transition-duration: 0.3s;
                transition-delay: 0.2s;
                z-index: 3;
            }

            &::before {
                height: 4px;
                right: 0;
                top: 0;
                width: 0;
            }

            &::after {
                height: 0;
                left: 0;
                top: 0;
                width: 4px;
            }

            span {
                position: relative;
                z-index: 2;
                display: block;
                padding: 8px 24px;
                border: solid 4px $gold;
                background-color: transparent;
                transition-duration: 0.2s;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    background-color: $secondBlue;
                    transition-duration: 0.3s;
                    transition-delay: 0.2s;
                }
    
                &::before {
                    height: 4px;
                    bottom: -4px;
                    left: -4px;
                    width: 0;
                }
    
                &::after {
                    bottom: -4px;
                    right: -4px;
                    width: 4px;
                    height: 0;
                }
            }

            &:hover {
                &::before {
                    width: 100%;
                    transition-delay: 0s;
                }

                &::after {
                    height: 100%;
                    transition-delay: 0s;
                }

                span {
                    color: $mainRed;
                    background-color: $secondBlue;
                    transition-delay: 0.4s;
                    
                    &::before {
                        transition-delay: 0s;
                        width: calc(100% + 4px);
                    }

                    &::after {
                        transition-delay: 0s;
                        height: calc(100% + 4px);
                    }
                }
            }
        }
    }
}