{% if app.request.attributes.get('_route') == 'new_film' %}
    <div>
        {{ form_start(newFormFilm) }}
            <div class="form-fields">
                {{ form_row(newFormFilm.title) }}
            </div>
            <div class="form-buttons">
                <input type="submit" value="Valider" class="submit">
                <a href="{{ path('home_films') }}" class="return">Retourner aux films</a>
            </div>
        {{ form_end(newFormFilm) }}
    </div>
{% else %}
    {% if app.flashes('success') is defined %}
        {% for message in app.flashes('success') %}
            <span class="message-flash">{{ message }}</span>
        {% endfor %}
    {% endif %}

    <div class="mainForm">
        {{ form_start(formFilm) }}
            <div class="form-fields">
                <div class="title">{{ form_row(formFilm.title) }}</div>
                <div class="year">{{ form_row(formFilm.year) }}</div>
                <div class="duration">{{ form_row(formFilm.duration) }}</div>
                <div class="boxOffice">{{ form_row(formFilm.boxOffice) }}</div>
                <div class="tags">{{ form_row(formFilm.movieTag) }}</div>
                <div class="directors">{{ form_row(formFilm.movieDirectors) }}</div>
                <div class="actors">{{ form_row(formFilm.movieActors) }}</div>
                <div class="summary">{{ form_row(formFilm.summary) }}</div>
            </div>
            <div class="form-buttons">
                <input type="submit" value="Valider" class="submit">
                <a href="{{ path('home_films') }}" class="return">Retourner aux films</a>
            </div>
        {{ form_end(formFilm) }}
    </div>

    <div class="imagesForm">
        <span class="addImage">Ajouter les images de card et fiche</span>

        <div class="js-list-film">
            {% include "admin/films/Ajax/_listFilmImages.html.twig" %}
        </div>

        <div class="js-film">
            {{ form_start(formImages) }}
                <a href="" class="close-pop-up btn-cross">close</a>

                <span class="new-image">Ajouter une image de card</span>

                <div class="cardFile">
                    {{ form_row(formImages.imageCardFile) }}
                </div>

                <span class="new-image">Ajouter une image de fiche</span>

                <div class="ficheFile">
                    {{ form_row(formImages.imageFicheFile) }}
                </div>

                <input type="submit" value="valider" class="btn-submit">
            {{ form_end(formImages) }}
        </div>

        <a href="" class="btn-submit js-film-images" data-id="{{ film.id }}">ajouter des images</a>
    </div>

    <div class="sliderForm">
        <span class="addImage">Ajouter les images du slider</span>

        <div class="js-list-slider">
            {% include "admin/films/Ajax/_listSliderImages.html.twig" %}
        </div>

        <div class="js-slider">
            {{ form_start(formSlider) }}
                <a href="" class="close-pop-up btn-cross">close</a>
                
                <span>Ajouter une image au slider</span>
                
                <div class="image-choice">
                    <div class="sliderFile">
                        {{ form_row(formSlider.imageSliderFile) }}
                    </div>
                </div>

                <div class="form-buttons">
                    <input type="submit" value="Valider" class="submit">
                </div>
            {{ form_end(formSlider) }}
        </div>

        <a href="" class="btn-submit js-slider-images" data-id="{{ film.id }}">ajouter une image de slider</a>
    </div>
{% endif %}