{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>éditer le film</h1>
        <div class="adminForm__content container">
            {{ include ("admin/films/_formFilm.html.twig", {formFilm: formFilm}) }}
        </div>
    </div>
{% endblock %}