{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>new film</h1>
        <div class="adminForm__content container">
            {% if error %}
                <span>{{ error }}</span>
            {% endif %}
            
            {{ include ("admin/films/_formFilm.html.twig", {newFormFilm: newFormFilm}) }}
        </div>
    </div>
{% endblock %}