<div class="sneak-peek__content">
    <div class="sneak-peek__content__image">
        {% if film.imageCardName and film.imageCardName is not empty %}
            <img src="{{ asset('build/assets/images/films/cards/' ~ film.imageCardName ~ '')|imagine_filter('card') }}" alt="">        
        {% endif %}
    </div>

    <div class="sneak-peek__content__details">
        <div class="btn-list">
            <a href="{{ path('fiche_film', {id: film.id}) }}" class="btn-list__child"><span>découvrir le film</span></a>
            <a href="" class="btn-list__child js-close-sneak-peek"><span>retourner aux films</span></a>
            <a href="" class="btn-hide-actions">hide btn-list</a>
        </div>
        <div class="container-content">
            <span class="title">{{ film.title }}</span>
            <span class="year">{{ film.year }}</span>
            {% if film.boxOffice is not empty %}
                <div>Box-office : <span class="box-office">{{ get_formatted_box_office(film.boxOffice) }}</span></div>
            {% endif %}
            <div>Durée : <span class="duration">{{ get_formatted_duration(film.duration) }}</span></div>
        </div>
        <div class="content-text">
            <p>{{ film.summary }}</p>
            <a href="" class="btn-hide-summary">show summary</a>
        </div>
        <div class="list-buttons-details">
            <a href="" class="btn-show-actions">
                <img src="{{ asset('build/assets/images/icons/actions.svg') }}" alt="">
            </a>
            <a href="" class="btn-show-summary">
                <img src="{{ asset('build/assets/images/icons/text-document.svg') }}" alt="">
            </a>
        </div>
    </div>
</div>