<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    {% set class = null %}
    {% if app.request.attributes.get('_route') == 'landing_page' %}
        {% set class = 'no-header' %}
    {% elseif app.request.attributes.get('_route') == 'fiche_film' %}
        {% set class = 'page-film' %}
    {% endif %}

    <body class="{{ class }}">
        {% include "default/_header.html.twig" %}
        {% include "default/_menu.html.twig" %}

        {% set classMain = null %}
        {% if app.request.attributes.get('_route') == 'admin_home' %}
            {% set classMain = 'adminHome' %}
        {% endif %}

        <main class="{{ classMain }}">
            {% block body %}{% endblock %}
        </main>

        {% include "default/_footer.html.twig" %}
        
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
