<div class="border-blockFilm">
    <div class="blockFilm"
        {% if film.imageFicheName and film.imageFicheName is not empty %}
            style="background-image: url('{{ asset('build/assets/images/films/fiches/' ~ film.imageFicheName ~ '')|imagine_filter('thumbnail') }}')"
        {% endif %}>
        <div class="blockFilm__content">
            <div class="arrow-up">
                <img src="{{ asset('build/assets/images/icons/arrow-up.svg') }}" alt="arrow-up">
            </div>
            <div class="blockFilm__content__details">
                <span class="film-title">{{ film.title }}</span>
                <span class="film-year">{{ film.year }}</span>
            </div>
            <a href="" data-id="{{ film.id }}" class="js-btn-sneak-peek btn-continue">continuer</a>
        </div>
    </div>
</div>