{% for director in directors %}
    <li class="film-directors__list__item{{ fiche_film is defined and fiche_film == true ? ' js-small-animate' }}" data-anim="fade-up">
        <a href="{{ asset('build/assets/images/directors/' ~ director.imageFileName ~ '') }}" class="fancybox" data-fancybox="images" data-height="620">
            <img src="{{ asset('build/assets/images/directors/' ~ director.imageFileName ~ '')|imagine_filter('portrait') }}" alt="">                        
            <div>
                <span>Nom : {{ director.name }}</span>
            </div>
        </a>
    </li>
{% endfor %}