{% for actor in actors %}
    <li class="film-actors__list__item{{ fiche_film is defined and fiche_film == true ? ' js-small-animate' }}" data-anim="fade-up">
        <a href="{{ asset('build/assets/images/actors/' ~ actor.imageFileName ~ '') }}" class="fancybox" data-fancybox="images" data-height="620">
            <img src="{{ asset('build/assets/images/actors/' ~ actor.imageFileName ~ '')|imagine_filter('portrait') }}" alt="">
            <div>
                <span>Nom : {{ actor.name }}</span>
                <span>Rôle : {{ actor.caracter }}</span>
            </div>
        </a>
    </li>
{% endfor %}