<div class="films">
    <div class="films__list container js-paginate" data-page-number="1" data-offset="6" data-item-per-page="6" data-films-count="{{ filmsCount }}">
        {% for film in films %}
            {% include "components/preview/_filmCard.html.twig" %} 
        {% endfor %}
    </div>
</div>