{% if app.flashes('success') is defined %}
    {% for message in app.flashes('success') %}
        <span class="message-flash">{{ message }}</span>
    {% endfor %}
{% endif %}

<div class="mainForm">
    {{ form_start(formActor) }}
        <div class="form-fields">
            <div class="name">{{ form_row(formActor.name) }}</div>
            <div class="caracter">{{ form_row(formActor.caracter) }}</div>
            <div class="ficheFile">
                {% if actor.imageFileName is not empty %}
                    <span class="fileName">image : {{ actor.imageFileName }}</span>
                {% endif %}
                {{ form_row(formActor.imageFile) }}
            </div>
        </div>
        <div class="form-buttons">
            <input type="submit" value="Valider" class="submit">
            <a href="{{ path('home_actors') }}" class="return">Retourner aux acteurs</a>
        </div>
    {{ form_end(formActor) }}
</div>