{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>éditer l'acteur</h1>
        <div class="adminForm__content container">
            {{ include ("admin/actors/_formActor.html.twig", {formActor: formActor}) }}
        </div>
    </div>
{% endblock %}