{% extends "base.html.twig" %}

{% block body %}
    <div class="adminForm">
        <h1>new actor</h1>
        <div class="adminForm__content container">
            {% if error %}
                <span>{{ error }}</span>
            {% endif %}

            {{ include ("admin/actors/_formActor.html.twig", {formActor: formActor}) }}
        </div>
    </div>
{% endblock %}